@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

// Carousel
@import "react-alice-carousel/lib/alice-carousel.css";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.carousel-item {
  height: 300px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(126, 126, 126, 0.5);
}
.search-list {
  &-item {
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px,
      rgba(255, 255, 255, 0.23) 0px 6px 6px;
    cursor: pointer;
  }
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}

.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}
.recharts-tooltip-wrapper {
  color: black;
}
